@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --mainDark: #1b2021;
  --mainPink: #89023e;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}
